body {
    background: greenyellow;
    margin-left: 100px;
    margin-right: 200px;
}

header {
    margin-top:50px
}

h1 {
    color: royalblue
    font-family: verdana;
}

h2 {
    color: blueviolet
    font-family: impact;
}

p {
    font-size: 20px;
}

footer {
    margin-bottom: 30px
}

.img_padrao {
    margin-top: 20px;
    width: 500px;
}

.logo {
    width: 20px;
}